<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>URL Shortener</title>
  <!-- <link rel="icon" href="" type="image/x-icon"> -->
  <link rel="icon" href="/ur-img.jpeg" type="image/jpeg">

  <link rel="stylesheet" href="/css/style.css" />
</head>


<body>

  <nav class="navbar">
    <div class="navbar-inner">
      <h2><a href="/">ZipURL</a></h2>

      <div class="nav-links">
        <a href="/">Home</a>
        <a href="/analytics">Analytics</a>
      </div>
    </div>
  </nav>

  <main class="container">